.payment_method .grid_15.method {
    padding: 0 !important;
}

.payment_method .payment_radio {
    display: none;
}

.payment_method .payment_row {
    background: #FFFFFF;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    padding: 21px 0;
}

.payment_method .payment_row.active,
.payment_method .payment_row:hover {
    background: #f9f9f9;
}

.payment_method .payment_row.active:after,
.payment_method .payment_row.active::after {
    content: '';
    background-image: url("../images/checkmark.png");
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 0;
    right: 8px;
    height: 50px;
    width: 50px;
}

.payment_method .payment_row.has_border {
    border-bottom: 1px solid #dfdfdf;
}

.payment_method .payment_description {
    display: inline-block;
    font-weight: normal;
    padding-right: 20px;
    box-sizing: border-box;
    line-height: 22px;
}

.payment_method .grid_15.method.no_border {
    border: 0 none !important;
}

#ppplus {
    margin-left: 40px;
}

.finish-ppp {
    border: 1px solid #DEDFE1;
    margin-bottom: 10px;
}

.finish-ppp table {
    border: none;
}

#center > div.finish-ppp.block.panel.has--border.is--rounded > div.ppp-header > table#veryImportante {
    margin: 20px auto;
    width:350px !important;
}

#center > div.finish-ppp.block.panel.has--border.is--rounded > div.ppp-header > table#veryImportante tr {
    border: none !important;
}

#center > div.finish-ppp.block.panel.has--border.is--rounded > div.ppp-header > table#veryImportante .ppp-left-td h3 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 20px;
}

#center > div.finish-ppp.block.panel.has--border.is--rounded > div.ppp-header > table#veryImportante .ppp-left-td {
    width: 33.333%;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
    vertical-align: middle;
    border: none !important;
}

#center > div.finish-ppp.block.panel.has--border.is--rounded > div.ppp-header > table#veryImportante .ppp-center-td{
    width: 33.333%;
    border: none !important;
}

#center > div.finish-ppp.block.panel.has--border.is--rounded > div.ppp-header > table#veryImportante .ppp-right-td {
    margin: 0;
    padding: 0 0 0 10px;
    width: 33.333%;
    vertical-align: middle;
    border: none !important;
}

.finish-ppp .ppp-header table tr,
.finish-ppp .ppp-header table tr td {
    padding: 0px;
    margin: 0px;
}

.finish-ppp .ppp-header table tr td h3 {
    margin-top: 10px;
}

.finish-ppp .ppp-content .ppp-instruction {
    text-align: center;
    font-weight: bolder;
}

.finish-ppp .ppp-content .ppp-instruction-detail-container {
    width:350px;
    margin: 0 auto;
}

.finish-ppp .ppp-content .ppp-instruction-detail-container table,
.finish-ppp .ppp-content .ppp-instruction-detail-container table tr {
    width: 100%;
}

.finish-ppp .ppp-content .ppp-instruction-detail-container table tr .bolder {
    font-weight: bolder;
}

.finish-ppp .ppp-content .ppp-instruction-detail-container table tr td {
    width: 50%;
    border-top: 1px solid;
}

.finish-ppp .ppp-footer {
    margin: 0px 20px 0px 20px;
    text-align: center;

}